policy_module(subi, 1.100.1)

########################################
#
# Declarations
#

type subi_t;
type subi_exec_t;
init_daemon_domain(subi_t, subi_exec_t)

permissive subi_t;

type subi_initrc_exec_t;
init_script_file(subi_initrc_exec_t)

type subi_conf_t;
files_type(subi_conf_t)

type subi_var_lib_t;
files_type(subi_var_lib_t)

type subi_var_run_t;
files_type(subi_var_run_t)

type subi_port_t;
corenet_port(subi_port_t)

########################################
#
# subi local policy
#
allow subi_t self:process { fork };

allow subi_t self:fifo_file rw_fifo_file_perms;
allow subi_t self:usubi_stream_socket create_stream_socket_perms;

manage_dirs_pattern(subi_t, subi_conf_t, subi_conf_t)
manage_files_pattern(subi_t, subi_conf_t, subi_conf_t)

manage_dirs_pattern(subi_t, subi_var_lib_t, subi_var_lib_t)
manage_files_pattern(subi_t, subi_var_lib_t, subi_var_lib_t)
files_var_lib_filetrans(subi_t, subi_var_lib_t, { dir file })

manage_dirs_pattern(subi_t, subi_var_run_t, subi_var_run_t)
manage_files_pattern(subi_t, subi_var_run_t, subi_var_run_t)

sysnet_dns_name_resolve(subi_t)
corenet_all_recvfrom_unlabeled(subi_t)

allow subi_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(subi_t)
corenet_tcp_sendrecv_generic_node(subi_t)
corenet_tcp_sendrecv_all_ports(subi_t)
corenet_tcp_bind_generic_node(subi_t)

gen_require(`
    type subi_port_t;
')
allow subi_t subi_port_t:tcp_socket name_bind;

gen_require(`
    type subi_port_t;
')
allow subi_t subi_port_t:tcp_socket name_connect;

domain_use_interactive_fds(subi_t)

files_read_etc_files(subi_t)

miscfiles_read_localization(subi_t)

sysnet_dns_name_resolve(subi_t)

allow subi_t subi_exec_t:file execute_no_trans;
allow subi_t self:process setsched;
corecmd_exec_ls(subi_t)
corenet_tcp_connect_http_port(subi_t)
dev_read_urand(subi_t)
fs_getattr_xattr_fs(subi_t)
kernel_read_system_state(subi_t)
